<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kejin.extract.kejin.process.dao.DAPlaceDao">


  
  <sql id="Base_Column_List" >
    num,place,provinceCode,province,cityCode,city,areaCode,area
  </sql>
  
   <select id="select" parameterType="Map" resultType="com.kejin.extract.entity.kejinTest.DAPlaceModel">
       select 
           <include refid="Base_Column_List" />
       from d_a_place
       where 1=1 
       <if test="num!=null">
			AND NUM = #{num,jdbcType=VARCHAR} 
		</if>
   
  </select>
  
  
	
</mapper>