<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kejin.extract.kejin.process.dao.DOperationCollectDao">

  <insert id="insertOperationCollectRecord" parameterType="com.kejin.extract.entity.kejinTest.DOperationCollectModel">
	    INSERT INTO kejinTest.d_operation_collect (
	    	settle_date,
			total_asset,
			regular_asset,
			new_register,
			new_tie_card,
			new_invest,
			charge_amount,
			charge_num,
			cash_amount,
			cash_num,
			one_month_amount,
			one_month_num,
			two_month_amount,
			two_month_num,
			three_month_amount,
			three_month_num,
			six_month_amount,
			six_month_num,
			twelve_month_amount,
			twelve_month_num,
			other_regular_amount,
			other_regular_num,
			total_regular_amount,
			total_regular_num,
			new_regular_amount,
			reinvest_regular_amount,
			credit_amount,
			credit_num,
			regular_recovery_amount,
			regular_recovery_num,
			regular_daily_growth,
			regular_daily_rail,
			month_regular_amount,
			month_recovery_amount,
			month_unrecovery_amount,
			regular_invest_num,
			reinvest_rate,
			active_num,
			GMT_CREATE,
			GMT_MODIFIED
		)
		VALUES
			(    
			    DATE_FORMAT(date_sub(CURDATE(), INTERVAL 1 DAY),'%Y%m%d'),
				#{totalAsset, jdbcType=DECIMAL},
				#{regularAsset, jdbcType=DECIMAL},
			    #{newRegister, jdbcType=INTEGER},
			    #{newTieCard, jdbcType=INTEGER},
			    #{newInvest, jdbcType=INTEGER},
				#{chargeAmount, jdbcType=DECIMAL},
			    #{chargeNum, jdbcType=INTEGER},
			    #{cashAmount, jdbcType=DECIMAL},
			    #{cashNum, jdbcType=INTEGER},
			    #{oneMonthAmount, jdbcType=DECIMAL},
			    #{oneMonthNum, jdbcType=INTEGER},
			    #{twoMonthAmount, jdbcType=DECIMAL},
			    #{twoMonthNum, jdbcType=INTEGER},
			    #{threeMonthAmount, jdbcType=DECIMAL},
			    #{threeMonthNum, jdbcType=INTEGER},
			    #{sixMonthAmount, jdbcType=DECIMAL},
			    #{sixMonthNum, jdbcType=INTEGER},
			    #{twelveMonthAmount, jdbcType=DECIMAL},
			    #{twelveMonthNum, jdbcType=INTEGER},
			    #{otherRegularAmount, jdbcType=DECIMAL},
			    #{otherRegularNum, jdbcType=INTEGER},
			    #{totalRegularAmount, jdbcType=DECIMAL},
			    #{totalRegularNum, jdbcType=INTEGER},
			    #{newRegularAmount, jdbcType=DECIMAL},
			    #{reinvestRegularAmount, jdbcType=DECIMAL},
			    #{creditAmount, jdbcType=DECIMAL},
			    #{creditNum, jdbcType=INTEGER},
			    #{regularRecoveryAmount, jdbcType=DECIMAL},
			    #{regularRecoveryNum, jdbcType=INTEGER},
			    #{regularDailyGrowth, jdbcType=DECIMAL},
			    #{regularDailyRail, jdbcType=DECIMAL},
			    #{monthRegularAmount, jdbcType=DECIMAL},
			    #{monthRecoveryAmount, jdbcType=DECIMAL},
			    #{monthUnrecoveryAmount, jdbcType=DECIMAL},
			    #{regularInvestNum, jdbcType=INTEGER},
			    #{reinvestRate, jdbcType=DECIMAL},
			    #{activeNum, jdbcType=INTEGER},
			    now(),
			    now()
			)
  </insert>
  
</mapper>